body { 
    margin: 0px;
}


.icons{
    width: 2.5rem;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box {
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2), 0 15px 15px -5px rgba(0, 0, 0, 0.2),
    0 15px 15px -5px rgba(0, 0, 0, 0.2), 0 15px 15px -5px rgba(0, 0, 0, 0.2);  
    box-shadow: inset hsl(224, 23%, 55%);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    opacity: 8 !important;
    border-radius: 10px;
    align-items: center;
    display: flex;
    height: 14.5rem;
    width: 16rem;
    z-index: 3;
    gap: 16px;
  }